@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    width: 390px;
    height: 844px;
    background-image: url(../img/diderotBackground.png);
}

h1{
    font-family: "League Spartan";
    color: white;
    text-align: center;
    margin-top: 30px;
}

.audio1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
}

.topico-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 330px;
    height: 380px;
    border-radius: 27px;
    background-color: #2b3b5b;
}

.topico-p{
    font-size: 16px;
    text-align: center;
    font-family: "League Spartan";
    color: white;
}

.img1{
    width: 160px;
    height: 240px;
    margin-left: 13px;
    margin-right: 40px;
}

.img2{
    width: 160px;
    height: 240px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    margin: 20px auto;
}

.proxPag-div{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 13px;
    margin-bottom: 13px;
}

.pagAnterior-div{
    position: absolute;
    bottom: 0;
    margin-left: 13px;
    margin-bottom: 13px;
}

.proxPag-button{
    width: 150px;
    height: 35px;
    background-color: #455574;
    border: 0;
    border-radius: 20px;
}

.pagAnterior-button{
    width: 150px;
    height: 35px;
    background-color: #455574;
    border: 0;
    border-radius: 20px;
}

.proxPag-button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: "League Spartan";
}

.pagAnterior-button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: "League Spartan";
}